
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    text-align: center;
    padding-top: 30px;
    color:rgb(237, 165, 72);
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 5px;
}

button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: gray;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin:5px 10px;
}

input{
    width: 88%;
    height: 70px;
    border: 4px solid gray;
    background-color: rgb(98, 190, 98);
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-left: 20px;
    cursor:no-drop;
    overflow: scroll;
    margin: 15px;
}

.container{
    height: auto;
    width: 400px;
    display: block;
    grid-template-columns: repeat(4,1);
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

#keys{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

button:hover{
    background-color: rgb(164, 163, 163);
    transform: translateY(-5px);
}

button:active{
    background-color: rgba(164, 163, 163,0.7);
}

